body
{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0

    
  
  


}
.login-container
{
    background-color: grey;
    padding: 100px;
    border-radius: 12px;
    box-shadow: 0 8px 16px chocolate ;
    text-align: center;
    width: 300px;
    
}

.login-container h2
{
    margin-bottom: 20px;
    color: blue;

}

input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s, transform 0.2s;
}


.btn:hover
{
    background-color: blue;
    transform: scale(1.2);
}